@model LibraryManagementSystem.ViewModels.StackAnswerViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <section>
        @foreach (var item in Model.items)
        {
            <div class="d-flex flex-start mt-4">
                <a class="me-3" href="#">
                    <img class="rounded-circle shadow-1-strong" src="@item.owner.profile_image" alt="avatar" width="65"
                    height="65" />
                </a>
                <div class="flex-grow-1 flex-shrink-1">
                    <div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                                @item.content_license
                            </p>
                        </div>
                        <p class="small mb-0">
                            @item.owner.display_name
                        </p>
                    </div>
                </div>
            </div>
        }
        @if (!Model.items.Any())
        {
            <p>There Is No Answers! `</p>
        }
    </section>
    <br>
    <a asp-action="GetQuestions" class="btn btn-primary">Bask to Questions</a>
</div>